body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace
}

span {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    margin-top: 50px;
}

#featured {
    margin: 0 auto;
    margin-top: 50px;
    text-align: start;
    width: 50%;
}

li {
    font-size: 20px;
    margin-top: 10px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10%;
}

#names-faq {
    position: absolute;
    bottom: 0;
    left: auto;
    right: 20px;
    margin: auto;
}