body {
    background-color: black;
    color: white;
    width: 75%;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace
}

header {
    text-align: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid-item-common {
    font-style: italic;
    text-align: center;
    padding-top: 15px;
}

.grid-item-common:hover {
    background-color: rgba(128, 128, 128, 0.2);
    text-decoration: none;
}

.grid-item-common:visited {
    color: inherit;
}

.twitter-x {
    grid-column: 1;
    grid-row: 1;
}

.steam {
    grid-column: 2;
    grid-row: 1;
}

.itaku {
    grid-column: 3;
    grid-row: 1;
}

.youtube {
    grid-column: 1;
    grid-row: 2;
}

.github {
    grid-column: 3;
    grid-row: 2;
}