body {
    background-color: #BC93F4;
    color: #F2DAAC;
    font-family: "Courier New", Courier, monospace;
    position: relative;
}

#notice {
    margin: 0;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-text {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a, a:visited {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}